@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Momo+Trust+Display&display=swap');

*{
  font-family: "Momo Trust Display", sans-serif;
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.testing-purposes {
  display: flex;
  width: 420px;
  padding: 30px 0;
  border-radius: 8px;
  background: #444343;
  flex-direction: column;
  align-items: center;

}

.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;


  background: conic-gradient(#c9c8c8 var(--progress-angle), #575353 0deg);

  transition: --progress-angle 1s linear;
}

.circular-progress::before{
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  background-color: #a6a6a8;
}

.progress-value{
  position: relative;
  color: #5c5a5a;
  font-size: 35px;
  font-weight: 700;
}

#timer-start {
  background-color: rgb(83, 81, 81);
  transition: filter 0.3s ease;
}

#timer-start:hover {
  filter: drop-shadow(0 0 2em #424242);
}

@property --progress-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}








:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #5e5e5f;
}

input,
button {
  outline: none;
}

#timer-input {
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
